@tailwind base;
@tailwind components;
@tailwind utilities;
.coffee-bg {
  background-image: url("../assets/images/headerBgDesktop.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.pattern-bg {
  background-image: url("../assets/images/body-bg.png");
  background-repeat: no-repeat;
}
