@tailwind base;
@tailwind components;
@tailwind utilities;
.coffee-bg {
  background-image: url("../assets/images/headerBgMobile.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
.pattern-bg {
  background-image: none;
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (min-width: 768px) {
  .coffee-bg {
    background-image: url("../assets/images/headerBgDesktop.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .pattern-bg {
    background-image: url("../assets/images/body-bg.png");
  }
}
html,
body,
.no-scrollbar {
  /* Hide scrollbars */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow: -moz-scrollbars-none; /* Old Firefox */

  /* Ensure scrolling is still possible */
  overflow-y: scroll;
}

/* Hide scrollbars for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
}
